:root{
    --TM-background:   #463f047e;
    --TM-text:          #020c08f1;
    --TM-highlight:     #273b74e0;
    --TM-text-light:     #e3eef8;
}

body{
    background-color: var(--TM-background);
    color:             var(--TM-text);
}

.head{
    background-color: var(--TM-highlight);
    font-size:medium;
}

.foot{
    background-color: var(--TM-highlight);
    font-size:medium;
}

.maxw-100{
    max-width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.mid-section{
    background-color: var(--TM-background);
    color:     var(--TM-text-light);
    background-image:  url("https://media2.giphy.com/media/bsRSKZhTXgDXa/giphy-downsized.gif")
}

.container-bg-highlight{
    background-color: var(--TM-highlight);
}

.top-screen{
    background-image: url("assets/img/toaster.jpg");
}

.card-text{
    color: var(--TM-highlight);
}

p.no-margin{
    margin-top: 0;
    margin-bottom: 0;
    font-size:x-small;
    text-align: center;
    justify-content: content-distribution;   
}

row.height-50{
    height: 50px;
}


.center{
  justify-content: center;
}

.space-around{
    justify-content: space-around; 
}

.space-between{
    justify-content: space-between;
}